html {
  background-color: #B8DBFF;
}

#header {
  position: absolute;
  top: 0px;
  margin: 0px 15px 50px 0px;
  font-size: 80px;
}

#header a {
  margin: 0px 50px 50px 0px;
}

#MainPhoto img {
  margin-top: 90px;
  width: 60%;
  height: 45%;
}

#footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#footer img {
  width: 50px;
  height: 50px;
}